*.out
*.o
ui_*.h
moc_*
*.aux
*.lof
*.lot
*.toc
*.synctex.gz
*.log
*.ilg
*.ind
*.bak
*.idx
.cproject
.project
qrc_yeroth*
*.stash
*.dvi
.settings/
object_script.yeroth-erp-3-0.Debug
object_script.yeroth-erp-3-0.Release
out
